# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Generated data
data/interim/*
data/processed/*
!data/interim/README.md
!data/processed/README.md

# Outputs
outputs/figures/*
outputs/tables/*
!outputs/figures/.gitkeep
!outputs/tables/.gitkeep

# Data/raw
data/raw/*.csv
data/raw/*.zip
