# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Generated data
data/interim/*
data/processed/*

# Outputs
outputs/figures/*
outputs/tables/*

# Data/raw
data/raw/*.csv
data/raw/*.zip